* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family:'Arial', sans-serif;
    font-size: 16px;
    background-color: #0098cb;
}

form {
	padding: 50px 20px;
	background-color: #b3e0ff;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}

a {
    text-decoration: none;
    color: #0098cb;
    font-size: 15px;
}

h1 {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    padding:12px;
    margin-top: 20px;
}

h2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

input, input[type="password"], select {
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}

input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #44c1eb;
}

.boton {
    background-color: #fff;
    padding: 10px;
    color: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table .head {
    background: #0098cb;
}

table .head td {
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

table tr td {
    border: 1px solid #ccc;
    padding: 7px;
    font-size: 14px;
    color: #555;
}

.separador {
    height: 2px;
    width: 100%;
    background-color: white;
}

span {
    color: #0098cb;
    display: block;
    margin-top: 10px;
}

.botonepico {
    background-color: #0098cb;
    padding: 10px;
    color: #ffffff;
    width: 320px;
    margin: 20px auto;
    margin-top: 10px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: block;
}